<template>
  <!-- <Tutorial/> -->
  <div class="container">
    <div class="justify-center">
      <center>
        <div class="row py-3">
          <div class="col-md-12">
            <nuxt-link
              class="btn btn-primary"
              :to="{ name: 'post'}"
              >Kembali</nuxt-link
            >
          </div>
        </div>
        <div class="row py-3">
          <div class="col-md-12">
            <b-card header-tag="header" footer-tag="footer">
              <template #header>
                <h6 class="mb-0">{{ post.title }}</h6>
              </template>
              <b-card-text>{{ post.description }}</b-card-text>
            </b-card>
          </div>
        </div>
      </center>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      post: {}
    }
  },
  async fetch() {
    this.post = await fetch('https://api.nuxtjs.dev/posts/' + this.$route.params.id).then(res =>
      res.json()
    )
  }
}
</script>
