<template>
  <!-- <Tutorial/> -->
  <div class="container">
    <div class="justify-center">
      <center>
        <div class="row">
          <div class="col-md-12">
            <b-card-group deck v-for="item in posts" :key="item.id">
              <div class="row py-3">
                <div class="col-md-12">
                  <b-card header-tag="header" footer-tag="footer">
                    <template #header>
                      <h6 class="mb-0">{{ item.title }}</h6>
                    </template>
                    <b-card-text>{{ item.description }}</b-card-text>
                    <nuxt-link
                      class="btn btn-primary"
                      :to="{name: 'post-id', params: {id: item.id}}"
                      >Detail</nuxt-link
                    >
                  </b-card>
                </div>
              </div>
            </b-card-group>
          </div>
        </div>
      </center>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // posts: []
    }
  },
  computed: {
    posts() {
      return this.$store.state.posts
    }
  },
  async fetch() {
    let posts = await fetch('https://api.nuxtjs.dev/posts').then(res =>
      res.json()
    )

    this.$store.commit('setPosts', posts)
  }
}
</script>
